@font-face {
  font-family: 'American Captain';
  src: url('fonts/american_captain/American\ Captain.ttf') format('truetype');
  font-weight: 400;
}

body {
  background: #fe1818;
  font-family: 'American Captain', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.btn {
  display: inline-flex;
  padding: 15px 49px 10px;
  box-sizing: border-box;
  color: inherit;
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #000000;
  border-radius: 8px;
  box-shadow: 0 2px 0 0 #000000;
  transition: 0.7s;
}

.btn:hover {
  background: #ffaa6f;
}

.header {
  position: relative;
  padding-top: 31px;
  padding-bottom: 71px;
}

.star-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.header-container {
  width: 1632px;
}

.header-top {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.header-main {
  position: relative;
  margin-top: 10.5%;
  text-align: center;
}

.header-bomb-img {
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 68%;
}

.header-actions {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 7%;
  gap: 16px;
}

.code-wrapper {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 10px;
}

.code-wrapper:hover {
  background-color: #ffffff;
}

.code {
  margin-top: 4px;
}

.copy-btn {
  padding: 7px 18px 3px;
  box-shadow: none;
  background-color: #ffaa6f;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #ff5f5f;
}

.promo-string {
  padding-top: 26px;
  padding-bottom: 20px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #fff;
  overflow-x: hidden;
}

.promo-string-container {
  display: flex;
  gap: 48px;
  justify-content: center;
  width: 1668px;
}

.promo-string-text {
  width: 84px;
  font-size: 32px;
}

.about {
  position: relative;
  padding-top: 70px;
  padding-bottom: 78px;
  overflow-y: hidden;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-info-wrap {
  width: 707px;
  max-width: 100%;
}

.about-info {
  box-sizing: border-box;
  margin-top: 50px;
  padding: 58px 89px 53px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #fff;
}

.about-info p {
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 16px;
}

.about-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-top: 16px;
}

.about-features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 340px;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 8px;
}

.about-features-item b {
  font-size: 162px;
}

.about-features-item span {
  position: relative;
  top: -20px;
  font-size: 32px;
}

.snake-left,
.snake-rigth {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  max-width: 70%;
}

.snake-rigth {
  right: 0;
}

.how-to {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 290px;
}

.how-to-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 55px;
  list-style-type: none;
}

.how-to-item {
  display: grid;
  grid-template-columns: 128px 1fr;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 8px;
}

.how-to-item-number {
  display: flex;
  align-items: center;
  padding: 42px 57px 37px;
  font-size: 48px;
  box-sizing: border-box;
}

.how-to-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 83px;
  padding: 35px 80px 27px;
  border-left: 2px solid #000000;
  border-radius: 8px;
}

.how-to-item-title {
  margin: 0;
  margin-top: 6px;
  font-size: 32px;
}

.left-gloves,
.right-gloves {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 60%;
}

.right-gloves {
  left: initial;
  right: 0;
  top: initial;
  bottom: 0;
}

.footer {
  position: relative;
  margin-top: -150px;
  padding: 50px 0;
}

.footer-container {
  width: 1629px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer .social {
  margin-top: 0;
  max-width: 708px;
}

.how-to-item-icon-box {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 2100px) {
  .star-bg {
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .footer .social {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 0 15px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .header-actions {
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo-string {
    padding-top: 20px;
    padding-bottom: 14px;
  }

  .promo-string-container {
    gap: 30px;
  }

  .promo-string-text {
    font-size: 20px;
  }

  .about {
    padding-top: 35px;
    padding-bottom: 43px;
  }

  .about-info {
    margin-top: 25px;
    /* padding: 58px 89px 53px; */
    padding: 30px 45px 24px;
  }

  .about-info p {
    font-size: 20px;
  }

  .social {
    grid-template-columns: 1fr 1fr;
  }

  .social-btn {
    justify-content: center;
  }

  .about-features {
    grid-template-columns: 1fr;
  }

  .about-features-item {
    padding-top: 30px;
    min-height: 200px;
  }

  .about-features-item b {
    font-size: 100px;
  }

  .about-features-item span {
    top: -10px;
    font-size: 20px;
  }

  .how-to {
    padding-top: 35px;
    padding-bottom: 145px;
  }

  .how-to-list {
    margin-top: 25px;
  }

  .how-to-item {
    grid-template-columns: 75px 1fr;
    min-height: 75px;
  }

  .how-to-item-number {
    padding: 21px 26px 16px;
    font-size: 20px;
    justify-content: center;
  }

  .how-to-item-info {
    padding: 15px 40px 10px;
    gap: 40px;
  }

  .how-to-item-title {
    font-size: 20px;
  }

  .footer .social {
    width: 100%;
    max-width: 100%;
    order: 2;
  }
}

@media (max-width: 600px) {
  .footer-container > .btn:last-child {
    order: 1;
  }

  .footer .social {
    grid-column: 1/3;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .footer-container .btn {
    justify-content: center;
  }
}